@model MVC_Project.Models.Customer

@{
    ViewBag.Title = "CreateCustomer";
}

<h2>CreateCustomer</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Customer</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Name)
                @Html.ValidationMessageFor(model => model.Customer_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Mobile_No, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Mobile_No)
                @Html.ValidationMessageFor(model => model.Customer_Mobile_No)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Customer_Address, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Customer_Address)
                @Html.ValidationMessageFor(model => model.Customer_Address)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value=" Continue" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
