@model MVC_Project.Models.Stock

@{
    ViewBag.Title = "Select";
}

<h2>Select</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Stock</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Product_id)

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Name)
                @Html.ValidationMessageFor(model => model.Product_Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Quantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Quantity)
                @Html.ValidationMessageFor(model => model.Product_Quantity)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Product_Price, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Product_Price)
                @Html.ValidationMessageFor(model => model.Product_Price)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
